<div class="" style="overflow-x: hidden; overflow-y: hidden;">

    <div class="" style="max-height:100%;  ">

        <div class="">

            <div class="row titleClass">

                <div class="col" style="display:inline-block; float: left;">
                    <h1 style="display:inline-block;padding:5px;">{{_getTitle()}}</h1>
                    <i style='font-size:20px;' [style.display]="roomId ? 'inline-block' : 'none'" class='far'>&#xf075;</i>
                </div>

                <div class="col" style="display:inline-block; float: right; padding: 15px;">
                    <button class="btn " data-toggle="modal" data-target="#myModal"><i style="align:center; font-size:30px" class="fa">&#xf013;</i></button>
                    <button (click)="_onLeaveRoomClicked()" class="btn btn-lg">Leave Room</button>
                </div>
            </div>

            <div class="row">

            

                <div class="portlet portlet-default col-lg-10">
                    <div class="portlet-heading">
                        <div class="clearfix"></div>
                    </div>
                    <h1 [style.display]="roomId ? 'none' : 'inline-block'"> No rooms is opened</h1>

                    <div id="chat" class="panel-collapse collapse in">
                        <div>
                            <div class="portlet-body chat-widget" style="overflow-y: scroll; width: auto; height:76vh;">

                                <app-chat-message *ngFor="let message of messages" [message]="message"> </app-chat-message>
                            </div>
                        </div>

                        <div style="float: bottom; ">
                            <!-- send message -->
                            <input [(ngModel)]="_inputMessage" [style.display]="roomId ? 'inline-block' : 'none'" (keyup)="$event.keyCode == 13 && _onSendClicked()" style=" height:50px; width:90%;" />
                            <button (click)="_onSendClicked()" [style.display]="roomId ? 'inline-block' : 'none'" style="" class="btn btn-lg">Send</button>
                        </div>
                    </div>
                </div>

              <div class="col" style="height:85vh;">
                  <app-rooms-list></app-rooms-list>
              </div>

            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{_getTitle()}} Room Settings</h4>
                    </div>
                    <div class="modal-body">

                        <div>

                            <!-- <label> enter the name of the user you want to add or remove from this chat room</label>-->
                            <input [(ngModel)]="_inputUser" size="30" style="height:45px;" />
                            <button (click)="_onAddUserClicked()" data-dismiss="modal" class="btn btn-success btn-lg">Add User</button>
                            <button (click)="_onRemoveUserClicked()" data-dismiss="modal" class="btn btn-danger btn-lg">Remove User</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>