<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="portlet portlet-default">
        <div class="portlet-heading">
          <!-- user signed in name -->
          <!-- <div class="portlet-title">
            <h4><i class="fa fa-circle text-green"></i> Ammar Rabie</h4>
          </div> -->
          <div class="clearfix"></div>
        </div>
        <div>
          <h2> {{_getTitle()}}</h2>
          <label> enter the name of the user you want to add or remove from this chat room</label>
          <input [(ngModel)]="_inputUser" />
          <button (click)="_onAddUserClicked()">add user</button>
          <button (click)="_onRemoveUserClicked()">remove user</button>
        </div>
        <div id="chat" class="panel-collapse collapse in">
          <div>
            <div class="portlet-body chat-widget" style="overflow-y: auto; width: auto; height: 300px;">

              <app-chat-message *ngFor="let message of messages" [message]="message"> </app-chat-message>
            </div>
          </div>
          <!-- send message -->
          <input [(ngModel)]="_inputMessage" (keyup)="$event.keyCode == 13 && onSendClicked()" />
          <button (click)="onSendClicked()">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>